.App {
  margin: 0 auto;
  text-align: center;
  width: 70%;
}

.DarkMode {
  background-color: #252525;
  color: white;
}

.LightMode {
  background-color: white;
  color: #252525;
}

@media screen and (max-width: 768px) {
  .App {
    width: 98%;
  }
}
